li {
    display: inline-block;
    margin: 10px;
}

a{
    font-size: 25px;
    font-family: Verdana;
    text-decoration: none;
}

.slm {
    color: rgb(2, 146, 57);
    padding: 10px;
    border: 5px solid #de8302aa;
    border-radius: 15%;
}

.slm:hover {
    background-color: #de8302aa;
}
.profile-link:hover {
    color: #000;
}

.social-links{
    text-align: center;
}

img {
    height: 150px;
    border-radius: 50%;
}